<!doctype html>
<html>
    <head>
        <title>Create Playlist</title>
    </head>
    <body>
        <div> Your playlist that want to create</div>
        <br>
        {% for item in result_songs %}
            <a href="{{ url }}{{ item[0] }}"+>{{ item[1] }}</a>
            <br>
        {% endfor%}
        <div>click here to save playlist</div>
        <form method="post">
            <input type="submit" name="save_button" value="save">
        </form>
        <br/>
        <div>click here back to the home page</div>
        <form method="post">
            <input type="submit" name="back_button" value="back">
        </form>
        If no song is selected, pressing "save" will not store the playlist. 
        User will be redirected back to homepage. 
    </body>
</html>