<!doctype html>
<html>
    <head>
        <title>{{ songname[0][0] }}</title>
    </head>
    <body>
        <div>Your song information list below</div>
        <br />
        song name is: {{songname[0][0]}}
        <br />
        <br/>
        album name is: {{songname[0][1]}}
        <br/>
        <br/>
        artist name is: {{songname[0][2]}}
        <br/>
        <br/>
        track_pop is: {{songname[0][3]}}
        <br/>
        <br/>
        duration is: {{songname[0][4]}} ms
        <br/>
        <br/>
        vocal_rate is: {{songname[0][5]}}
        <br/>
        <br/>
        danceable_rate is: {{songname[0][6]}}
        <br/>
        <br/>
        tempo is: {{songname[0][7]}}
        <br/>
        <br/>
        key is: {{songname[0][8]}}
        <br/>
        <br/>
        comments: 
        <br>
        {% for item in comment %}
            {{item[0]}} | comment by {{item[1]}}
            <br>
        {% endfor%}
        <br/>
        <form method="POST">
        <div>please enter a word or sentence that you want to comment: </div>
        <input type="text" name="comment_text">
        <br/>
        <input type="submit" name="comment_content" value="Comment">
        </form>
        <br/>
        <form method="POST">
        <div>click here back to the home page</div>
        <input type="submit" name="back_home_page" value="Back">
        </form>
    </body>
</html>